.actor-main{
    padding: 30px;
    color:white;
    
 
}
.actor-main__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color: #373B69;
}
.actor-main__left{
    margin-right: 15px;

}
.actor-main__right{
    padding: 50px;
    display: flex;
    flex-direction: column;

}
.actor-main__left-figure{
    padding: 10px;
    border-radius: 5px;
    background-color: #EBE5E2;
}
.actor-main__actor-image{
    border-radius: 40px;
    width:300px;
    height:450px;
}
.actor-main__list{
    list-style: none;
    color: black;
}
.actor-main__info-title{
    color: #708ED2;
}