.movie-main__bg-image {
  background-position-x: right -200px;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0;
}
.movie-main__wrapper {
  padding: 120px;
  background: rgba(47, 48, 58, 0.4);
}
.movie-main__figure {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* h1{
    font-style: italic;
} */
.movie-main__tagline {
  font-style: italic;
}
.movie-main__type {
  color: lightgrey;
  border: 2px solid grey;
  padding: 1px;
}
.movie-main__list {
  list-style: none;
  display: flex;
}
.movie-main__list-item {
  margin-right: 4px;
}
.movie-main__right-side {
  padding: 25px;
  background-color: lightgrey;
  border-radius: 10px;
}
.movie-main__right-side-list {
  list-style: none;
  padding: 0;
}
.movie-main__special-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.movie-main__actors {
  max-width: 100% !important;
}
.movie-main__image {
  width: 350px;
  height: 450px;
  margin-right: 10px;
  border-radius: 5px;
}
