
.movie-card{
    width: 240px;

    margin-bottom: 30px;
    padding: 0;
    border-radius: 15px;
}
.movie-card__figure{
    border-radius: 15px;
    margin: 0;
    padding: 20px;
    background-color: #373B69;
}
.movie-card__figcaption{
    /* border: 2px solid #3053a0; */
    color: white;
    /* background-color: white; */
    width: auto;
    padding: 7px;
    height: 50px;
    
}
.movie-card__img{
    vertical-align: top;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}
.movie-card:hover{
    box-shadow: 0px 8px 8px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
    /* box-shadow: 0px 4px 4px white; */
    cursor: pointer;
    transform: none;
}