.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: aliceblue;
  background-color: #373b69;
}
.header__home-link {
  color: white;
  border: 2px solid grey;
  padding: 5px;
}
.header__right {
  display: flex;
  flex-direction: row;
}
a {
  color: white;
}
