.search__input{
    min-width: 300px;
    border: 0px;
    /* border-bottom:1px white; */
    color:lightgray;
    background-color: #373B69;
}
.search{
    position: relative;
}
.search__input:focus-visible{
outline: 0px;
}
.search:focus-within .search__found-list{
    opacity: 1;
    }
.search__underline{

    margin-top:3px;
    background-color: #e90e0e;
    min-width: 296px;
    height: 1px;
}
.search__found-list{
    opacity: 0;
    position: absolute;
    list-style: none;
    padding: 5px;
    min-width: 290px;
    background-color: #373B69;
    top: 4px;
    left: 0;
    margin-bottom: 0px;
    /* visibility: hidden; */

    /* margin: 0px; */
}
