.actor-card-list {
  max-width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;

  background: rgb(243, 195, 195);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
