a {
  text-decoration: none;
}
.founded-item {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #708ed2;
  border-radius: 15px;
}
.founded-item:hover {
  background-color: #83cfdf;
  color: white;
}
.founded-item__image {
  height: 80px;
  width: 80px;
  margin-right: 5px;
  border-radius: 15px;
}
.founded-item__description {
  width: 100%;
  display: flex;
  align-items: center;
}
