.search__input {
  min-width: 300px;
  border: 0px;
  color: black;
  background-color: white;
}
.search {
  position: relative;
}
.search__input:focus-visible {
  outline: 0px;
}
.search:focus-within .search__found-list {
  opacity: 1;
  z-index: 1;
}
.search__underline {
  margin-top: 3px;
  background-color: grey;
  min-width: 296px;
  height: 1px;
}
.search__found-list {
  z-index: -1;
  opacity: 0;
  position: absolute;
  list-style: none;
  padding: 5px;
  min-width: 290px;
  background-color: white;
  top: 7px;
  left: 0;
  margin-bottom: 0px;
  border-radius: 3px;
}

.search__input.dark {
  color: lightgray;
  background-color: #373b69;
}

.search__found-list.dark {
  background-color: #373b69;
}
